<html lang="it">
<head>
  <meta charset="utf-8" content="text/html";> </meta>
  <title>ZB Sushi</title>
  <link rel="stylesheet" href="assets\css\Home.css">
  <link rel="stylesheet" href="assets\css\Header.css">
  <link href="https://fonts.googleapis.com/css?family=Barlow|Nunito" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="assets\js\Home.js"></script>
  <script src="assets\js\freamwork\jquery.mousewheel.min.js"></script>
</head>



<body>

  <header>
    <div>
      <img id="logo1" src="../assets/img/Logo.png" alt="logo" width="70px" height="70px">
      <nav>
        <ul>
          <li><a href="./Home.html"> Home</a></li>
          <li><a href="#link">I Nostri Plus</a></li>
          <li><a href="Curiosità.html">Curiosità</a></li>
          <li><a href="#link">Sushi P&amp;E</a></li>
          <li><a href="#link">Store Locator</a></li>
          <li><a href="#link">Ordina Online</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="homesection" class="margintop paddedown">

    <div id="container_immagine_logo" class="image_container1">
      <img src="../assets/img/Logo.png" alt="logo">
    </div>

    <div>
      <h1>Experience <br> the taste of Japan</h1>
    </div>


  </section>



<section id="homesection2" class="margintop orizontal-centering">
  <div class="vertical-centering">
    <p id="p1">
    Sushi Lounge è il Concept Store dove
    la tradizione della cucina asiatica
    si unisce all'eccelenza mediterranea.
  </p>
  <p>SCOPRI DI PIÙ ></p>
  </div>


  <div class="vertical-centering"   width="33%">
    <img  width="100%" src="./img/sushi/1.png" alt="rotoli-di-sushi-con-illustrazione-del-gamberetto-su-fondo-bianco">
  </div>


  <div class="vertical-centering">
    <p id="p2">Sushi&amp;Go è la linea di ricette
pensate per il Take Away.</p>
<p>SCOPRI DI PIÙ ></p>
  </div>

</section>


  <footer>
    <div class="lfooter">
      ZB Sushi. Via dalle scatole • n° vicino a quello del mio vicino • 12345 Cesena • <a href="#link">Sitemap</a></li>
    </div>
    <div class="rfooter">
      <a href="#link">Contatti</a>
    </div>
  </footer>
</body>
