/*
 * Typography
 */

h1.admin-title {
    padding-bottom: 9px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

/*
 * Button
 */

.admin-btn-load {
    color: #4c4c4c;
    padding: .5em 3px;
}

.admin-btn-load:hover {
    color: black;
    text-decoration: underline;
}

/*
 * Sidebar
 */

.admin-sidebar {
    position: fixed !important;
    top: 68px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px 0 !important;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

.admin-sidebar .nav {
    margin-bottom: 20px;
}

.admin-sidebar .nav-item {
    width: 100%;
}

.admin-sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.admin-sidebar .nav-link {
    border-radius: 0 !important;
}

.admin-sub-menu {
    border-bottom: 1px solid lightgrey;
    padding-top: 5px;
    padding-bottom: 5px;
}

.admin-sidebar-addnew {
    display: inline-block;
    padding: 20px 5px 25px 5px;
    background-color: whitesmoke;
    border-radius: 5px;
}

.admin-category-img {
    display: inline-block;

    padding: 15px 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.admin-category-img img {
    width: 100%;
}

.admin-category-img p {
    margin: 5px 0;
}

.form-add-new {
    padding: 20px 20px;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

